---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ServicesHero from "../components/services/ServicesHero.astro";
import Ready from "../components/services/Ready.astro";
import ServiceCard from "@/components/services/ServiceCard.astro";
import Process from "@/components/services/Process.astro";
import Ecosystem from "@/components/services/Ecosystem.astro";
import FilterButtons from "@/components/services/FilterButtons.astro";
import MaxWidthWrapper from "../components/MaxWidthWrapper.astro";

const services = await getCollection("services");
---

<Layout>
    <Header />
    <ServicesHero />
    <FilterButtons />

    <section class="bg-background relative z-10 -mt-8 py-16">
        <MaxWidthWrapper>
            <div class="grid grid-cols-1 gap-10 lg:grid-cols-2 xl:gap-14">
                {
                    services.map((service) => (
                        <ServiceCard
                            title={service.data.title}
                            description={service.data.description}
                            icon={service.data.icon}
                            image={service.data.image}
                            servicios={service.data.servicios}
                            beneficios={service.data.beneficios}
                            ctaText={service.data.ctaText}
                            ctaLink={service.data.ctaLink}
                            category={service.data.category}
                        />
                    ))
                }
            </div>
        </MaxWidthWrapper>
    </section>

    <Ecosystem />
    <Process />
    <Ready />
    <Footer />
</Layout>
